MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/digixvalley?retryWrites=true&w=majority
PORT=5000
JWT_SECRET=your-secret-key
ADMIN_EMAIL=sabadigixvalley@gmail.com
ADMIN_PASSWORD=12345678
